* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
}

#side-menu {
    top: 0;
    left: 0;
    width: 200px;
    position: absolute;
    height: 100vh;
    background-color: firebrick;
}

#side-menu .menu-title{
    text-align: center;
}

#side-menu ul{
    list-style: none;
    text-align: center;
}

#side-menu button{
    color:white;
    background-color:blue;
    font-size:30px;
    margin: 10px;
    width: 150px;
    cursor:pointer;
}

#canvas-wrapper {
    background: url("../img/KleinBG.jpg");
    background-size: 110%;
    background-position: center;
    height: 100vh;
    text-align: center;
}

#canvas {
    height: 500px;
    width: 500px;
    margin: auto;
    background-color: white;
}