* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-family: 'Source Sans Pro', sans-serif;

}

.clickable {
    cursor: pointer;
}

#side-menu {
    top: 0;
    left: 0;
    width: 15%;
    padding-top: 7px;
    position: absolute;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    
}

#side-menu .menu-title{
    text-align: center;
    color: white;
    font-size: 2vw;
}

#side-menu #size-menu {
    width: 75%;
    margin-left: 10%;

}

#side-menu #display-holder {
    height: 20px;
    text-align: center;
}

#side-menu ul{
    list-style: none;
    text-align: center;
}

#side-menu ul.two-columns{
    columns: 2;
    width: 75%;
    margin-left: 12%;
}

#side-menu button.option{
    color:white;
    background-color:#002fa7;
    font-size: 2vw;
    margin: 7px;
    width: 80%;
}

#side-menu button.selected{
    border:2px solid lightgreen;
}

#white {
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/Eraser_icon.svg/414px-Eraser_icon.svg.png);
    background-color: white;
    background-size: cover;
}

#canvas-wrapper {
    background: url("../img/KleinBG2.jpg");
    background-size: 200%;
    background-position: center;
    height: 100vh;
    text-align: center;
}

#painting-title {
    color: white;
    position: relative;
    font-size: 25px;
    top: 20%;
    left: 35%;
}

#canvas {
    height: 500px;
    width: 500px;
    top: 13%;
    left: 30%;
    background-color: white;
    position: relative;
    overflow: hidden;
}
#modal-wrapper{
    position:fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background-color:rgba(0,0,0,0.5);
    z-index:12345;
}

#modal-wrapper .modal-title{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 4vw;
    margin-top: 1%;
    margin-bottom: 5%;
    color: #002fa7;
    font-weight: 600;
}

#modal-wrapper .modal{
    background-color: white;
    min-width: 400px;
    min-height: 200px;
    max-height: 300px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 3vw;
    border-radius: 2px;
}

.modal button {
    background-color: #002fa7;
    border: 1px solid grey;
    width: 25%;
    margin-left: 70%;
    height: 15%;
    color: white;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

.modal-content {
    border-radius: 2px;
    margin-bottom: 5%;
    width: 339px;
    background-color: #002fa748;
}

#signature {
    font-size: 12px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: grey;
}

